
/* .header{
  margin:82px auto;

} */

.container2{
  background-color: #f6f6f6;
  padding-top:15px;


}

 .Aside{

  width: 224px;
  height: 1120px;
  background-color: #fff;

}
.Aside .left{

  /* width: 70px; */

  /* background-color: pink; */
  padding:26px 109px 0  52px ;


}
.Aside .left a{
  display:block;
  line-height: 16px;
  font-size: 16px;
   width: 70px;
   /* background-color: yellow; */
   color:#333;

  }
  .Aside .left ul{
    margin-top:32px;
    margin-bottom:26px;
    width: 56px;
    /* height: 345px; */
  }
  .Aside .left ul li{
    height: 36px;
    /* line-height: 36px; */

  }
  .Aside .left ul a{
    line-height: 36px;
    color:#666;
    font-size: 14px;
}
.Aside .left ul li:hover{
  list-style: disc;
  color:#5cb99e;
}
.Aside .left ul a:hover{
  color:#5cb99e;

}
.Aside .line{
  width: 230px;
  height: 2px;
  background-color:#f4f4f4;
}

/* content部分 */
.content{
  width: 996px;
  margin-left:20px;
}
.content .user{
  width: 996px;
  height: 132px;
  line-height: 132px;
  background-color: #26b99b;
  position: relative;
}
.order{
  width: 996px;
  height: 374px;
  background-color: #fff;
  margin-top:20px;
}
.collect,
.footmark{
  width: 996px;
  height: 408px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom:30px;
}

.user .picture{
  float:left;
  height: 86px;
  margin:23px 26px 23px 59px;
}
.user img{
  /* position: absolute; */
  width: 85px;
  height: 86px;
}
.user li{
  float:left;
  width: 64px;
  height: 61px;
  line-height: 64px;
  text-align: center;
  background-color: yellow;
  margin-right:107px;
  margin-top:37px;
  position: relative;
}
.user li:last-child{

  margin-right:57px;
}
.user li a{
  position: relative;
  top: 20px;
  color:#fff;

}
.user li::before{
  position: absolute;
  top:0;
  left: 16px;
  content:'';
  width: 32px;
  height: 32px;
  background-color: #fff;
  background-image: url(../images/sprites.png);
}
.user li:nth-child(1):before{
  background-position: ;
}